<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class="row">
        <div class="col">
            <div class="nav-buttons-container">
                <a asp-conroller="Activity" asp-action="ShowDashboard" class="activity-nav-bar">Dashboard</a>
                <p class="activity-nav-bar"> | </p>
                <form asp-controller="Activity" asp-action="Logout" method="POST" class="activity-nav-bar">
                        <input type="submit" value="Logout" class="btn btn-danger"\>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="add-form-header">Activity Planner</h1>
            <p>Please fill out the fields below to add an activity to our platform.  In order to help you avoid double booking yourself, we alert you if the activity you are adding overlaps with one you've already created.</p>
        </div>
    </div> 
    <hr>
    <div class="row">
        <div class="col">
            <h2>Create an Activity</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @model activity_planner.Models.ActivityViewModel
            <form asp-controller="Activity" asp-action="CreateActivity" method="post">
                <label>Title: </label>
                <input asp-for="Name" class="form-control"/><br>
        </div>
    </div>
    <div class="row time-row">
        <div class="col-sm-4">
                <label >Date: </label>
                <input type="date" asp-for="StartDate" class="form-control"/><br>
        </div>
        <div class="col-sm-4">
                <label>Start Time:</label>
                <input type="time" name="StartTime" class="form-control"/><br>
        </div>
        <div class="col-sm-2">
                <label>Duration:</label><br>
                <input type="number" asp-for="Duration" class="form-control inline-input"/>
        </div>
        <div class="col-sm-2">
                <label>Denomination:</label>
                <select name="TimeDenomination" class="form-control inline-input" id="denomination-dropdown">
                    <option value="Days">Days</option>
                    <option value="Hours">Hours</option>
                    <option value="Minutes">Minutes</option>
                </select><br>
        </div>
    </div>

    <div class="row address-rowParent">
        <div class="col-sm-6 address-col">
            <div class="streetRow">
                <label asp-for="StreetAddress"></label>
                <input asp-for="StreetAddress" class="form-control streetInput" data-changed-flag="false" data-current-value=""/>
            </div>
            <div class="cityStateRow">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control cityInput" data-changed-flag="false" data-current-value/>
                <label asp-for="State"></label>
                <select asp-for="State" class="form-control stateInput" data-changed-flag="false" data-current-value>
                    @activity_planner.Models.ActivityViewModel.GetStates()
                </select>
            </div>
            <div class="zipCodeRow">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" class="form-control zipCodeInput" data-changed-flag="false" data-current-value/>
            </div>
        </div>
        <div class="col-sm-6 map-col">
            <iframe
                id="createMapIframe"
                width="450"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC95F71hOI6L7Zp8n-6r1Jg3fYK36RrLQo&q=?"
            >
            </iframe>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
                <label>Description:</label>
                <textarea asp-for="Description" class="form-control" style="min-width: 100%" rows="4"></textarea><br>
                <input type="submit" value = "CreateActivity" class="btn btn-success">
        </div>
    </div>
            </form>
            <h3>@ViewBag.OverlapError</h3>
            <div asp-validation-summary="All"></div>
    </div>
    
</div>