body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f7f9ff;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* *******LOGIN REG START ******** */
.top-bar {
    height: 110px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f7f9ff;
}

.top-bar h1 {
    text-decoration: underline;
}

.body {
    border: solid lightgrey 3px;
    background-color: #f7f9ff;
}

.body h2 {
    margin-top: 10px;
}

.form-container-left {
    border-right: solid lightgrey 3px;
}

/* *******LOGIN REG END ******** */

/* *******DASHBOARD START ******** */

.top-bar-dashboard {
    background-color: #f7f9ff;
}

.top-bar-dashboard h1 {
    text-align: center;
    text-decoration: underline;
}

.top-bar-dashboard h4 {
    display: inline-block;
    width: 70%;
}

.top-bar-dashboard .logout-button {
    display: inline-block;
    position: absolute;
    right: 10px;
     
}

.upcoming-top-bar h3 {
    text-decoration: underline;
    display: inline-block;
    width: 70%;
}

.upcoming-top-bar .add-activity-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
}

thead {
    font-weight: bold;
}

/* *******DASHBOARD END ******** */

/* *******ADD ACTIVITY FORM START ******** */

.nav-buttons-container {
    text-align: right;
    margin-top: 10px;
}

.activity-nav-bar {
    display: inline-block;
}

.add-form-header {
    text-align: center;
    text-decoration: underline;
}

form .inline-input {
    display: inline-block;
}

form #denomination-dropdown {
    width: 100px;
}

/* *******ADD ACTIVITY FORM END ******** */

/* *******SHOW ACTIVITY START ******** */

.show-page-inline {
    display: inline-block;
}


/* *******SHOW ACTIVITY END ******** */

/* *******REVIEW FORM START ******** */

.review-form-activity-title {
    text-align: center;
    text-decoration: underline;
}

/* *******REVIEW FORM END ******** */

/* *******VIEW REVIEWS START ******** */

#reviews-header {
    display: inline-block;
}

#add-review-button {
    display: inline-block;
    margin-left: 30%;
}

.review-title {
    text-decoration: underline;
}

/* *******VIEW REVIEWS END ******** */