@model activity_planner.Models.UserViewModel
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class="row">
        <div class ="col-sm">
            <div class="top-bar">
                <h1>Activity Planner</h1>
                <h4>Create view join and review activities and events near you!</h4>
            </div>
        </div>
    </div>
    <div class="row body">
        <div class="col-sm-6 form-container-left">
            <div class"form-cointainer">
                <h2>Register</h2>
                <form asp-controller="LoginReg" asp-action="Register" method="post">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span><br>
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control"/>
                        <span asp-validation-for="LastName" class="text-danger"></span><br>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control"/>
                        <p class="text-danger">@ViewBag.ExistsError</p>
                        <span asp-validation-for="Email" class="text-danger"></span><br>
                        <label asp-for="Password">Password <img class="questionMarkIcon" src="~/images/QuestionMarkIcon.png" alt="question mark icon"></label>   
                        <div class="passwordInfoPopup">
                            <span class="passwordInfoPopupText">
                                <p>A valid password:</p>
                                <ul>
                                    <li class="charCountRequirement">is a minimum of 8 characters</li>
                                    <li class="upperCaseRequirement">has at least one upper case letter</li>
                                    <li class="numberRequirement">has least one number</li>
                                    <li class="specialCharacterRequirement">has at least one of the following special characters: ~`!@@#$%^&*()_-+={[}]|\:;"'<,>.?/</li>
                                    <li class="noSpacesRequirement">contains no spaces</li>
                                </ul>
                            </span>
                        </div>
                        <input asp-for="Password" class="form-control passwordInput" type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span><br>
                        <label asp-for="PasswordConfirmation"></label>
                        <input asp-for="PasswordConfirmation" class="form-control" type="password"/>
                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span><br>
                        <br>
                        <input type="submit" value = "Register" class="btn"/>
                    </div>
                </form>
                
                <!-- <div asp-validation-summary="All"></div> -->
            </div>
        </div>
        <div class="col-sm-6 form-container-right">
            <h2>Login</h2>
            <form action="attemptlogin" method="post">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="email" class="form-control"/>
                    <label>Password:</label>
                    <input type="password" name = "password" class="form-control"/><br>
                    <input type="submit" value="Login" class="btn"/>
                </div>
            </form>
            <h3>@ViewBag.Error</h3>
        </div>
    </div>
</div>